body {
    font-family: "Roboto";
    background: linear-gradient(297.24deg, #E8EFFC 8.25%, #FFFFFF 91.76%);
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}


a {
    text-decoration: none;
}

.setting-101 {
    font-size: 45px;
    font-weight: 100;
    line-height: 53px;
    letter-spacing: -1.7335766553878784px;
    color: #43484D;
}

.setting-102 {
    box-shadow: 0.82374507188797px 1.64749014377594px 2.4712350368499756px 0px #00000019;
    background: #FFFFFF;
    height: 354.2103576660156px;
    padding: 40px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.setting-103 {
    display: flex;
}

.title {
    font-size: 26px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: center;
    color: #58678B;
}

.text {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #58678B;
}

.price {
    font-size: 43px;
    font-weight: 100;
    line-height: 48px;
    letter-spacing: -1.64749014377594px;
    text-align: center;
    color: #58678B;
}

.rem-003 {
    color: #7DC855;
}

.texttwo {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #58678B;
}

.gilaki {
    display: inline;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.setting-104 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7DC855;
    border: none;
    border-radius: 5px;
    height: 50px;
}

.setting-105 {
    position: relative;
}

.setting-106 {
    position: absolute;
    right: -1px;
    top: 0;
}


@media (max-width: 1000px) {
    body {
        height: auto !important;
    }

    .setting-101 {
        padding-top: 20px;
    }
}